@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --primary: 'palevioletred';
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}
p {
    color: #878787;
}
html{
    font-size: 1rem;
}

body {
    font-family: 'IBM Plex Serif', serif;
}

button {
    background-color: transparent;
    border: 0;
}

button:focus {
    outline: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all .3s linear;
}


/* Section Padding */
.section-p {
    padding: 100px 0;
}

.being-top{
    position: relative;
    z-index: 10;
}